<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
    <input id="imageElement" type="file" placeholder="Upload image file..." multiple="true" accept=".jpg, .jpeg, .png, .heic">
    
    <input id="cameraElement" type="file" accept="image/*" capture="environment" hidden>
    <label for="cameraElement" class="button">📷</label>

    <select id="dropdown" id="outputFormat">
        <option>default</option>
        <option>jvinsnes</option>
        <option>raw</option>
    </select>

    <button id="uploadButton">Upload</button>
    <button onclick="document.querySelectorAll('.picture_with_results').forEach(el => el.remove())">Clear</button>

    <br>
</body>

</html>